<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="matze.msh, matze-msh, websites, webseiten, homepage, webapplikationen, blog, forum, administration, betreuung, schulung, lösungen, edv-lösungen, intranet, internet, firewall, windows, mac, ads, adserver, active directory,Joomla, SMF, Simple Machines Forum, WP, Wordpress, RoR, Ruby on Rails" />
	<meta name="description" content="matze.msh, einfache Webauftritte, klares und sauberes Template Design" />
	<title><%= title %></title>
	<%= render 'layouts/stylesheets' %>
</head>

<body>
	<div id="view">
	<%= render 'layouts/header' %>
		<div id="content">
    <div id="contentBlock">
      <div class="item last">
      <h3><%= flash[:notice] %></h3>
    	<%= yield %>
      </div>
    </div>
    <hr class="hidden" />
    <div id="menuBlock">
      <div class="box firstBox subMenu">
	   <%= render 'layouts/login_info' %>
      </div>
      <div class="box subMenu">
      </div>
      <div class="box firstBox subMenu">
        <h3>Kategorien</h3>
        <ul>
          <li><a href="#">Joomla (1)</a></li>
          <li><a href="#">Ruby on Rails (2)</a></li>
          <li><a href="#">Silverstripe (1)</a></li>
          <li><a href="#">Sonstige (0)</a></li>
        </ul>
      </div>
      <div class="box subMenu">
      </div>
      <div class="box firstBox subMenu">
        <h3>Nachrichten</h3>
        <ul>
          <li><a href="#">Dezember 2009</a></li>
          <li><a href="#">November 2009</a></li>
          <li><a href="#">Oktober 2009</a></li>
          <li><a href="#">September 2009</a></li>
          <li><a href="#">August 2009</a></li>
        </ul>
      </div>
   </div>
  </div>
  <hr class="hidden" />
  <hr class="hidden" />
	<%= render 'layouts/footer' %>
</div>
</body>

</html>
